/vendor
/node_modules
/.git
/.env
/.env.backup
/.env.production
/.phpunit.cache
/.phpunit.result.cache
/.vscode
/.idea
/.fleet
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/public/hot
/public/storage
npm-debug.log
yarn-error.log
Homestead.json
Homestead.yaml
docker-compose.yml
